/* .logo-panel {
    max-width: 100%;
    display: block;
    height: auto;
}

.name-panel {
    max-width: 100%;
    display: block;
    height: auto;
} */

/* section {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border: 1px solid black;

} */

/* Start of incorporating code snippets */
body { background: url(/img/home_page.svg) no-repeat fixed center center;
    background-size:cover;
    }


/* .bar {
    height: 40px;
    background: #678480;
    margin-top:7%;
    position:absolute;
    width:100%;
} */

.line {
    margin-top:7%;
    border-top: 40px solid #678480;
    padding-top: 50px;
    padding-left: 500px;
}

